<h1>Products List</h1>
<!-- <p class="lead">A list of all the products</p> -->
<!-- <a href="/products/new">Add a New Product!</a> -->
<table class="table table-striped table-hover" id='list_of_products'>
	<thead>
		<tr>
			<th>#ID</th>
			<th>Name</th>
			<th>Description</th>
			<th>Price</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @products.each do |p| %>
			<tr>
				<th><%=p.id%></th>
				<th><%=link_to p.name, product_url(p)%></th>
				<th><%=p.description%></th>
				<th><%=p.formatted_price%></th>
				<% if current_user %>
					<th><%=link_to 'Edit', edit_product_url(p)%></th>
					<th><%=link_to 'Destroy', product_url(p), method: :delete%></th>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>



