<!DOCTYPE html>
<html>
	<head>
	  <title>Rainforest</title>
	  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	  <%= stylesheet_link_tag    "bootstrap" %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="../">RainForest</a>
					<ul class="nav">
						<li>
							<a href="/products/new">Add a New Product!</a>
						</li>
					</ul>
					<ul class="nav pull-right">
						<% if current_user %>
							<li>
		      			Signed in as <%= current_user.email %>
		      		</li>
		      		<li>
		      		<%= link_to "Log out", session_path("current"), :method => :delete %>
		      		</li>
	  				<% else %>
		  				<li>
		  					<%= link_to "Sign up", new_user_path %>
		  				</li>
		  				<li>
		  					<%= link_to "Log in", new_session_path %>
		  				</li>
						<% end %>
					</ul>
				</div>
			</div>
		</div>
		<div class="container" style="padding-top: 80px">
			<% if flash[:notice] %>
				<p id='notice'><%= flash[:notice]%></p>
				<% end %>
				<% if flash[:alert] %>
					<p id='alert'><%= flash[:alert] %></p>
				<% end %>
				
				<%= yield %>
					
				<p class="userinfo">
		   
			</p>		
		</div>
	</body>
</html>
